<div class="logo-inner">
  <a href="#" title="" target="_blank">
    <div class="course-logo"> <img src="" class="a11y-ignore" aria-hidden="true" tabindex="-1"/> </div>
    <div class="course-title"></div>
  </a>
</div>
