<div class="logo__inner">

  {{#if _link._isEnabled}}
  <button class="btn-icon nav__btn logo__btn js-nav-logo-btn">
  {{/if}}

    <div class="logo__image">
      <img src="" class="a11y-ignore" aria-hidden="true"/>
    </div>
    <div class="logo__title"></div>

  {{#if _link._isEnabled}}
  </button>
  {{/if}}

</div>
